<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3" style="background-color: #25b7f1">
      <h4 class="my-0 fw-normal"><%= name %></h4>
    </div>
    <div class="card-body">
      <a href="/product/<%=_id%>">
        <img src="<%= img %>" class="rounded card-img" alt="<%= name %>" />
      </a>
    </div>
    <div class="card-footer" style="background-color: #25b7f1">
      <h5>Price: <%= price %></h5>
    </div>
  </div>
</div>
