<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header"), {PageTitle} %>
  <body>
    <main class="container">
      <div class="bg-warning p-5 rounded mt-3 row">
        <div class="col">
          <h1><%= title %></h1>
          <p class="lead">A Pokedex Library for you to explore!</p>
        </div>
        <%- include("partials/logo") %>
        <div class="d-md-block">
          <a class="btn btn-lg btn-primary" href="/pokemon/new" role="button"
            >Add Pokemon</a
          >
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 my-3 text-center">
        <!-- prettier-ignore -->
        <% pokeList.map((item, index)=> { %>
          <% const {id, name, img, type} = item%>
          <%- include("partials/card", {id, name, img, type}) %>
        <% }) %>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
